@model ProjetoAluno.Models.AlunoView

@{
    ViewData["Title"] = "Cadastrar Aluno";
}

<form asp-action="SalvarAluno" method="post">
    <div class="form-group">
        <label asp-for="NomeAluno"></label>
        <input asp-for="NomeAluno" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Nota1"></label>
        <input asp-for="Nota1" class="form-control" step="0.01" type="number" step="0.01" oninput="calcularTotal()" />
    </div>

    <div class="form-group">
        <label asp-for="Nota2"></label>
        <input asp-for="Nota2" class="form-control" step="0.01" type="number" step="0.01" oninput="calcularTotal()" />
    </div>

    <div class="form-group">
        <label asp-for="TotalNota"></label>
        <input asp-for="TotalNota" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Situacao"></label>
        <input asp-for="Situacao" class="form-control" readonly id="Situacao" />
    </div>

    <div class="form-group">
        <label asp-for="DataInicio"></label>
        <input asp-for="DataInicio" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="DataTermino"></label>
        <input asp-for="DataTermino" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="Escolaridade"></label>
        <input asp-for="Escolaridade" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts{
    <script>
        function calcularTotal() {
            let nota1 = parseFloat(document.getElementById("Nota1").value) || 0;
            let nota2 = parseFloat(document.getElementById("Nota2").value) || 0;
            let total = (nota1 + nota2)/2;
            document.getElementById("TotalNota").value = total.toFixed(1);

            let situacao = "";

            if(total >= 6.0){
                situacao = "Aprovado";
            }else{
                situacao = "Reprovado";
            }

            document.getElementById("Situacao").value = situacao;
        }
    </script>
}