@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome do projeto do Sistema</h1>
    <p>Desenvolver para o crescimento sempre evoluindo e aprimorando da melhor forma, para uma evolução, no desenvolvimento do projeto do sistema de Aluno.</p>
</div>
<div class="alert alert-info" role="alert">
    Desenvolvimento de software com logica de programação é a melhor forma para o crescimento é criar e evoluir!
</div>
<div class="alert alert-secondary" role="alert">
    Crescer aprimorando no aperfeiçoamento aprofundando no aprimoramento do conheicmento evolutivo!
</div>
<div class="alert alert-dark" role="alert">
    Crescimento profissional evoluindo da melhort maneira, para uma evolução crescente num aprendizado aprofundado!
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Desenvolver web e software é arte de criar e recriar um grande potencial!</h4>
    <p>O desenvolvimento de sistema sempre é fundamental para o crescimento, dedicando, no aprimoramento evoluindo da melhor maneira, aperfeiçoando, no aprofundamento na crescimento do estudo que deseja seguir!.</p>
    <hr>
    <p class="mb-0">Sempre é muito para o crescimento do aprimoramento evoluindo da melhor forma o estudo e a dedicação.</p>
</div>