@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome do projeto do Sistema</h1>
    <p>Desenvolver para o crescimento smepre eovluindo e aprimorando da melhor forma, para uma evolução, no desenvolvimento do projeto do sistema de Aluno.</p>
</div>
<div class="alert alert-info" role="alert">
    Desenvolvimentio de software com logica de programação é a melhor forma para o crescimento é criar e evoluir!
</div>
<div class="alert alert-secondary" role="alert">
    Crescer aprimorando no paerfeiçoamento aprofundando no aprimoramento do conheicmento evolutivo!
</div>
<div class="alert alert-dark" role="alert">
    Crexcimento profissional evoluindo da melhort manbeira, para uma evolução crescente num aprendizado aprofundado!
</div>